<html>
<head>
  <script type="text/javascript" src="//js.maxmind.com/js/geoip.js">
  </script>

  <title>JS Example</title>
</head>

<body>

  <dl>

    <dt>City</dt>
    <dd>
      <script type="text/javascript">
        document.write( geoip_city() );
      </script>
    </dd>

    <dt>Region</dt>
    <dd>
      <script type="text/javascript">
        document.write( geoip_region() );
      </script>
    </dd>

    <dt>Region Name</dt>
    <dd>
      <script type="text/javascript">
        document.write( geoip_region_name() );
      </script>
    </dd>

    <dt>Postal Code</dt>
    <dd>
      <script type="text/javascript">
        document.write( geoip_postal_code() );
      </script>
    </dd>

    <dt>Country Code</dt>
    <dd>
      <script type="text/javascript">
        document.write( geoip_country_code() );
      </script>
    </dd>

    <dt>Country Name</dt>
    <dd>
      <script type="text/javascript">
        document.write( geoip_country_name() );
      </script>
    </dd>

    <dt>Latitude</dt>
    <dd>
      <script type="text/javascript">
        document.write( geoip_latitude() );
      </script>
    </dd>

    <dt>Longitude</dt>
    <dd>
      <script type="text/javascript">
        document.write( geoip_longitude() );
      </script>
    </dd>

  </dl>

</body>
</html>
